doctype html
html(lang="en")
    head
        - var titleValue = htmlWebpackPlugin.options.title
        title=titleValue
        meta(charset="UTF-8")
        include jade/style
    body
        include jade/header
        
        
        include component/index/main
        
        
        include jade/footer
        include jade/lib
