doctype html
html(lang="en")
    head
        - var titleValue = htmlWebpackPlugin.options.title
        title=titleValue
        meta(charset="UTF-8")
        include jade/style
    body
        include jade/header
        
        div#app
          router-view(keep-alive)
        
        include jade/footer
        include jade/lib
